.App {
  text-align: center;
  /*width: 100%;*/
}

.App-header {
  /*width: 100%;*/
  background-color: #282c34;
  height: 100px;
  color: white;
  display: grid;
  grid-template-rows: 1fr max-content;
  align-items: center;
  /*justify-content: space-between;*/
  justify-items: center;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.App-header .title {
  font-size: calc(10px + 2vmin);
}
.App-header .controls {
  /*font-size: calc(5px + 0.5vmin);*/
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(auto-fill, max-content);
  padding: 0 0.5rem;
  align-items: center;
}

.update-button button {
  width: 90%;
  height: 90%;
  font-size: 1rem;
  border-radius: 1rem;
  border-width: 0;
}
.update-button button:disabled {
  width: 70%;
  height: 70%;
  font-size: 0.7rem;
  border-radius: 0.5rem;
  padding: 1rem 0;
  opacity: 0.5;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

.loading-icon {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0rem;
  top: 0rem;
  padding: 0.5rem;
}
.github-logo {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  right: 0rem;
  top: 0rem;
  padding: 0.5rem;
}

.github-logo:hover {
  border-radius: 0.25rem;
  background-color: #464646;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: white;
}

.github-logo a {
  display: flex;
}

.github-logo:hover .github-link-text{
  display: block;
}

.github-link-text{
  display: none;
  padding-right: 0.5rem;
  font-size: 0.75rem;
}

.github-logo img {
  /*padding: 0.5rem;*/
  width: 1.25rem;
  /*background-color: transparent;*/
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

