.App {
  text-align: center;
  /*width: 100%;*/
}

.App-header {
  /*width: 100%;*/
  background-color: #282c34;
  height: 100px;
  color: white;
  display: grid;
  grid-template-rows: 1fr max-content;
  align-items: center;
  /*justify-content: space-between;*/
  justify-items: center;
  /*display: flex;*/
  /*flex-direction: row;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}

.App-header .title {
  font-size: calc(10px + 2vmin);
}
.App-header .controls {
  /*font-size: calc(5px + 0.5vmin);*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 0.5rem;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: black;
}

